/* components/QuestCard.module.css */
.quest_card {
  width: 100%;
  height: 360px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.status {
  width: 60px;
  height: 20px;
  background-color: #2a9743;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 4px;
  float: right;
}

.quest_key {
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.quest_value {
  background-color: #f5f5f5;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-size: 13x;
  color: rgba(0, 0, 0, 0.8);
  height: 32px;
}

.quest_value_textarea {
  background-color: #f5f5f5;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  font-size: 13x;
  color: rgba(0, 0, 0, 0.8);
  height: 80px;
  resize: none;
}

.quest_value_help {
  background-color: #ffffff;
  border: 1px solid #5786ff;
  color: #5786ff;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 4px;
  font-size: 13x;
  cursor: pointer;
  text-align: center;
}

.quest_detail {
  width: 100%;
  margin-top: 8px;
}

.quest_detail p {
  color: #5786ff;
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}
.quest_detail p:hover {
  color: #5786ff50;
}

.quest_edit_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #00000032;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest_edit {
  width: 500px;
  background-color: #fff;
  padding: 32px;
}

.quest_buttons {
  display: flex;
  justify-content: flex-end;
}
.quest_buttons button {
  width: 100px;
  height: 32px;
  border: 1px solid #5786ff;
  background-color: white;
  color: #5786ff;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
}

.quest_buttons button:hover {
  background-color: #5786ff;
  color: white;
}

.quest_edit input,
.quest_edit textarea,
.quest_edit select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quest_edit input:focus,
.quest_edit textarea:focus {
  border-color: #5786ff;
  outline: none;
}

.quest_key {
  font-weight: bold;
  margin-bottom: 4px;
}

.key_value {
  margin-bottom: 8px;
}
